.card_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card_content {
  flex: 1 1 100%;
}

.card {
  display: flex;
  flex-direction: column;
  height: 415px;
}

.card_action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;

  .cost {
    font-size: 1.5rem;
    font-weight: 100;
  }
}
