.parallax_wrapper {
  // top: 0;
  // left: 0;
  // bottom: 0;
  // left: 0;
  // position: absolute;
  // min-height: 100vh;
  // min-width: 100%;
}

.background_wrapper {
  padding-top: 5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.background_text {
  color: #fff;
  margin-right: 3rem;
  // align-self: ;
}

.index_content_wrapper {
  margin-top: calc(100vh - 56px);
  margin-bottom: 2rem;
  min-height: 100vh;

  .content_text_wrapper {
    display: flex;
    flex-direction: column;
  }
  .content_image_wrapper {
    display: grid;
    justify-items: end;
    grid-template-columns: repeat(2, 1fr);

    &.left {
      justify-items: start;
    }

    & .content_text {
      max-width: 600px;

      &.right {
        text-align: right;
      }
    }
  }
}
